<div class="image-contanier">
  <img src="../../../assets/images/Banco_Pichincha_logo.svg.png" />
</div>
<div class="container">
  <h1>Formulario de Registro</h1>
  <hr />
  <div class="container-form">
    <form class="form">
      <div class="form-left">
        <label for="nombre">ID</label>
        <input type="text" id="nombre" name="nombre" />

        <label for="apellido">Descripción</label>
        <input type="text" id="apellido" name="apellido" />

        <label for="cedula">Fecha Liberación</label>
        <input type="text" id="cedula" name="cedula" />
      </div>
      <div class="form-right">
        <label for="telefono">Nombre</label>
        <input type="tel" id="telefono" name="telefono" />

        <label for="correo">Logo</label>
        <input type="email" id="correo" name="correo" />

        <label for="direccion">Fecha Revisión</label>
        <input type="text" id="direccion" name="direccion" />
      </div>
    </form>
    <div class="buttons">
      <button type="submit" class="button-reset">Reiniciar</button>
      <button class="button-submit">Enviar</button>
    </div>
  </div>
</div>
