<div class="image-contanier">
  <img src="../../../assets/images/Banco_Pichincha_logo.svg.png" />
</div>
<div class="container">
  <h1>Formulario de Registro</h1>
  <hr />
  <div class="container-form">
    <form class="form" autocomplete="off" [formGroup]="forma">
      <div class="form-left">
        <label>ID</label>
        <input
          type="text"
          formControlName="id"
          [class.is-invalid]="notValidId"
        />
        <small *ngIf="notValidId" class="text-danger">ID no válido</small>

        <label>Descripción</label>
        <input
          type="text"
          formControlName="description"
          [class.is-invalid]="notValidDescription"
        />
        <small *ngIf="notValidDescription" class="text-danger"
          >Este campo es requerido!</small
        >

        <label>Fecha Liberación</label>
        <input
          type="date"
          formControlName="date_release"
          (change)="setDate($event)"
        />
      </div>
      <div class="form-right">
        <label>Nombre</label>
        <input
          type="text"
          formControlName="name"
          [class.is-invalid]="notValidName"
        />
        <small *ngIf="notValidName" class="text-danger"
          >Este campo es requerido!</small
        >

        <label>Logo</label>
        <input
          type="text"
          formControlName="logo"
          [class.is-invalid]="notValidLogo"
          [disabled]="true"
        />
        <small *ngIf="notValidLogo" class="text-danger"
          >Este campo es requerido!</small
        >

        <label for="direccion">Fecha Revisión</label>
        <input type="date" formControlName="date_revision" />
      </div>
    </form>
    <div class="buttons">
      <button *ngIf="!isEditable" class="button-reset" (click)="loadData()">
        Reiniciar
      </button>
      <button *ngIf="isEditable" class="button-delete">Eliminar</button>
      <button
        type="submit"
        class="button-submit"
        [disabled]="forma.invalid"
        (click)="saveProduct()"
      >
        Enviar
      </button>
    </div>
  </div>
</div>

<hr />
<pre>
  Estado del formulario: {{forma.valid}}
  <br>
  Status: {{forma.status}}
</pre>

<pre>
  {{ forma.value | json }}
</pre>
