<div class="image-contanier">
  <img src="../../../assets/images/Banco_Pichincha_logo.svg.png" />
</div>
<div class="container">
  <div class="search-bar">
    <div class="search-input">
      <input type="text" placeholder="Search..." />
    </div>
    <button>Aregar</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>
          Descripción <i class="fa fa-info-circle" aria-hidden="true"></i>
        </th>
        <th>
          Fecha de liberación<i
            class="fa fa-info-circle"
            aria-hidden="true"
          ></i>
        </th>
        <th>
          Fecha de reestructuración<i
            class="fa fa-info-circle"
            aria-hidden="true"
          ></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Usuario 1</td>
        <td>25</td>
        <td>usuario1@example.com</td>
        <td>Usuario 1</td>
        <td>25</td>
        <td><i class="fa fa-ellipsis-v edit" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td>Usuario 1</td>
        <td>25</td>
        <td>usuario1@example.com</td>
        <td>Usuario 1</td>
        <td>25</td>
        <td><i class="fa fa-ellipsis-v edit" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td>Usuario 1</td>
        <td>25</td>
        <td>usuario1@example.com</td>
        <td>Usuario 1</td>
        <td>25</td>
        <td><i class="fa fa-ellipsis-v edit" aria-hidden="true"></i></td>
      </tr>
      <!-- Agregar más filas aquí -->
    </tbody>
  </table>
  <hr />
  <div class="footer">
    <div class="select-input">5 Resultados</div>
    <select id="frutas" name="frutas">
      <option value="manzana">5</option>
      <option value="naranja">4</option>
      <option value="banana">3</option>
      <option value="uva">2</option>
    </select>
  </div>
</div>
