<div *ngIf="isLoading" class="loading">
  <div class="spinner"></div>
</div>

<div class="image-contanier">
  <img src="../../../assets/images/Banco_Pichincha_logo.svg.png" />
</div>
<div class="container">
  <div class="search-bar">
    <div class="search-input">
      <form [formGroup]="filter">
        <input type="text" placeholder="Search..." formControlName="filter" />
      </form>
    </div>
    <button (click)="goAddProduct()">Aregar</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>
          Descripción <i class="fa fa-info-circle" aria-hidden="true"></i>
        </th>
        <th>
          Fecha de liberación<i
            class="fa fa-info-circle"
            aria-hidden="true"
          ></i>
        </th>
        <th>
          Fecha de reestructuración<i
            class="fa fa-info-circle"
            aria-hidden="true"
          ></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredItems">
        <td>
          <img
            [src]="product.logo"
            class="img-logo"
            (error)="(defaultImageUrl)"
          />
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.date_release | date : "dd/MM/yyyy" }}</td>
        <td>
          {{ product.date_revision | date : "dd/MM/yyyy" }}
        </td>
        <td *ngIf="clicked"><button class="edit-button">Editar</button></td>
        <td *ngIf="clicked">
          <button class="delete-button" (click)="deleteProduct(product.id)">
            Eliminar
          </button>
        </td>
        <td>
          <i
            class="fa fa-ellipsis-v edit"
            aria-hidden="true"
            (click)="openOptions(product)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <div class="footer">
    <div class="select-input">{{ products.length }} Resultados</div>
    <select>
      <option value="manzana">5</option>
    </select>
  </div>
</div>
